@import "../../App.scss";

.skill {
  height: 100%;
  max-width: 1366px;
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;

  @include mobile {
    flex-direction: column;
    width: 100%;
  }

  .text-container {
    flex: 1;

    @include mobile {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    li {
      list-style: none;
      cursor: pointer;
      font-size: 50px;
      -webkit-text-stroke: 1px;
      -webkit-text-fill-color: transparent;
      position: relative;

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      span {
        @include mobile {
          transform: none !important;
          font-size: 40px;
          -webkit-text-fill-color: #ff6767 !important;
        }
      }
    }
  }

  .threed-section {
    flex: 1;
    height: 70%;
    width: 100%;
  }
}
