@import "../../App.scss";

.navbar {
  height: 100px;

  .wrapper {
    height: 100%;
    margin: auto;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: space-between;
      margin-right: 10px;
      width: 75%;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 9px;
      letter-spacing: 2px;
      color: inherit;
      padding: 8px 10px;
      margin-left: 13px;
      background-color: #312245;
      border-radius: 20px;
      text-shadow: 0 0 7px white;
    }

    .socialIcons {
      display: flex;
      gap: 20px;
      margin-right: 15px;
    }
    .socialIcons img {
      width: 23px;
      background-color: #58318c;
      border-radius: 31px;
    }
  }
}
