@import "../../App.scss";

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;

  @include mobile {
    flex-direction: column;
  }

  .nav-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .svg-container {
      stroke: red;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 100%;

        @include mobile {
          height: 50%;
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      gap: 28px;

      @include mobile {
        gap: 15px;
        justify-content: center;
        margin-left: 50px;
      }

      h1 {
        font-size: 40px;
        color: orange;
        letter-spacing: 4px;
        text-shadow: 0 0 17px orange;

        @include mobile {
          font-size: 25px;
        }
      }

      p {
        font-size: 17px;
        font-weight: bold;
        color: #ff6767;

        @include mobile {
          font-size: 14px;
        }
      }

      a {
        color: #b08fe4;
        text-decoration: underline;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;

        @include mobile {
          font-size: 12px;
        }

        svg {
          stroke: #b08fe4;
          position: relative;
          top: 3px;
          left: -4px;
        }
      }

      a:hover {
        text-shadow: 0 0 1px #ff6767;
      }
    }
  }

  .map-container {
    flex: 1;
  }
}
