html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: McLaren;
}

body {
  background-color: #17082f;
  color: lightgray;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  scroll-snap-align: center;
  height: 100vh;
  background: url("./assets/stars-bg.png");
}

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 734px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 1366px) {
    @content;
  }
}
